# Secrets
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Logs
logs/
*.log

# Local DB / runtime data
*.db
*.sqlite
*.sqlite3

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
